*
{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
nav ul li
{
    background-color: hsl(190, 13%, 73%);
    border: 1px solid rgb(99, 165, 212);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width:80px;
    list-style-position: inside;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    box-shadow:  4px 12px 20px 0px #464545;
    top: 0;
    display: flex;
}
 
nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
ul
{
    display: flex;
    padding: 10px ;
    position: sticky;
    top: 0;
}

.content
{
    border: 3px solid rgb(169, 139, 103);
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 50px;
    margin: auto;
    padding: 10px; 
    width: 900px ;
    height: 100px;
    position: sticky;
    overflow: auto;

}

.image img
{
    width: 100%;
    height:auto
}

.image
{
    display: flex;
    border: 2px solid;
    width: 50vw;
    height: 70vh;
    margin: auto;
    padding: 10px;
       justify-content: left;
    background-color: rgb(103, 132, 122);
    padding-left: 10px;
}


.box1
{
    border:10px solid green;
    background-color: aquamarine; 
    top:0;
    margin-left: 20px;
    height: 20px;
    width :200px;
    border: 2px solid olivedrab;
} 

.box2
{
    border:10px solid green;
    background-color: rgb(127, 146, 255); 
    top:0;
    margin-left: 20px;
    height: 20px;
    width :200px;
    border: 2px solid olivedrab;
    position: relative;
    top : 2px;
    left: 90px;
}

.test
{
    border : 500px solid;
}

.lorem
{
    border : 3px solid;
}